{% extends "base.html" %} {% block title %}Weather{% endblock %} {% block
content %}
<h1 class="mt-4 mb-4" align="center">Weather Dashboard</h1>
<form id="weather-form">
  <input
    type="text"
    id="city"
    class="form-control"
    placeholder="Enter city name"
  />
  <br />
  <div align="center">
    <button type="button" class="btn btn-primary" onclick="getWeather()">
      Get Weather
    </button>
  </div>
</form>
<br />
<div id="weather-result" class="weather-result"></div>
{% endblock %}
